*.swp
*.*~
android-app/target
android-app/src/main/res/values/host.xml
node-components/node
node-components/monitor-app/platforms
node-components/monitor-app/plugins
node-components/node_modules
node-components/public/lib
node-components/monitor-app/www/lib
node-components/monitor-app/www/config.json
