<ion-view view-title="{{firefighter.bio.name}}">
	<div class="details">
		<img src="img/F1.jpg" width="100" height="100"/>
	</div>
	<ion-nav-title>
		{{firefighter.bio.name}}
	</ion-nav-title>
	<ion-content>
		<ion-list>
			<ion-item><i class="icon ion-ios-heart-outline"></i> {{firefighter.bio.bpm}} BPM</ion-item>
			<ion-item><i class="icon ion-ios-cloud-outline"></i> {{firefighter.bio.resp}}</ion-item>
		</ion-list>
		<h3>Movement History</h3>
		<ion-list>
			<ion-item collection-repeat="pos in firefighter.position">
			{{pos.orientation | number:3}}<span ng-show="pos.direction">&deg;</span> {{pos.direction}},  {{pos.pos | number:3}}m
			</ion-item>
	</ion-content>
</ion-view>
